@font-face {font-family:"Miracle";src:url("/fonts/Miracle_Personal_use.eot") format("eot"),url(/fonts/Miracle_Personal_use.woff) format("woff"),url(/fonts/Miracle_Personal_use.ttf) format("truetype"),url("/fonts/Miracle_Personal_use.svg") format("svg");font-weight:normal;font-style:normal;}


h1 {
    font-family: Miracle;
    font-size: 40px;
}